@page "{id:int?}"
@model Proiect.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CategoryData != null && Model.CategoryData.Categories != null)
        {
            <h3>Events Edited by Selected Category</h3>
            <table class="table">
                @foreach (var item in Model.CategoryData.Categories)
                {
                    string selectedRow = "";
                    if (item.ID == Model.CategoryID)
                    {
                        selectedRow = "table-success";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @foreach (var eventCategory in item.EventCategories)
                            {
                                <span>@eventCategory.Event.Name</span>
                                <br />
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    </tbody>
</table>
