html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 1.1rem white, 0 0 0 initial 0.25rem #000f;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 80px;
    background-image: url('../images/nothing.jpg'); /* Înlocuiți cu calea către imaginea dvs. */
    background-repeat: no-repeat;
    background-size: cover; /* Ajustați la nevoie pentru a asigura acoperirea completă a fundalului */
}